body{ padding:0px; margin:0px;
	display: block;}

#container {
	position: relative;
}

canvas, #overlay {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
}

#page, .conts{
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.consoleBox {
	background: rgba(25, 25, 25, 0.6);
}

.formConsole {
	width: 99%;
	height: 95%;
	/*padding-top: 4%;*/
	padding-left: 1%;
}

.textConsole {
	width: 100% !important;
	height: 100% !important;

	resize: none;
	outline: none;

	background-color: rgba(20, 20, 20, 0.6) !important;
	border: 1px solid rgba(10, 10, 10, 0.6) !important;
	color: rgba(200, 200, 200, 0.9) !important;
	padding: 8px;
	font-family: courier new;
	font-size: 18px;
}

.guiContainer{
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 0px;
	/*pointer-events: none;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.noPointerEvnt {
	pointer-events: none;
}

.windowLeft {
	z-index: 1;
	width: 100%;
	/*margin-bottom: 90%;*/
	height: 3%;
	top: 0px;
	/*pointer-events: none;*/
	padding: 0px;
	display: flex;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.minWindow {
	/*height: 3%;*/
	background: rgba(25, 25, 25, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.windowBar {
	margin: 2px 0px;
	text-align: right;
	padding-right: 3px;
}

.winButton {
	margin: 4px;
	width: fit-content;
	border: 1px solid black;
	color: white;
}

.minButton {
	background-color: rgba(0, 0, 255, 0.6);
}

.maxButton {
	background-color: rgba(0, 0, 255, 0.6);
}

.closeButton {
	background-color: rgba(255, 0, 0, 0.6);
}

/* Web Window */

.webWindow {
	background-color: rgba(200, 200, 200, 0.5);
}

.htmlPage {
	width: 100%;
	background-color: white;
	padding-top: 1%;
}

.newConsoleButton {

	top: 87%;
	left: 93%;
	position: absolute;

	width: 3%;
	border-radius: 50%;
	background-color: #696969;
	cursor: pointer;
}

/*
==========================
	Scrollbars
==========================
 */

textarea::-webkit-scrollbar {
	width: 0.5em;
}

textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0,1);
}

textarea::-webkit-scrollbar-thumb {
	background-color: rgba(40, 40, 40, 1);
	outline: 1px solid rgba(5, 5, 5, 1);
}


/*
=========================
	Some stuff?
=========================
 */

@media (min-width: 768px) {
	.navbar
	{
		max-width:300px;
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header
	{float:none !important;}

	.navbar-right .dropdown-menu {left:0;right:auto;}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

a, #innerNav, #topNav, #nav{
	background: #202020;
	border-color: #202020;
}

nav a:hover {
	color: #16a3a1 !important;
}

.vcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
